nav{
    background-color:white;
}

body{
    background-color:rgb(35, 35, 35);

}

#hr-styled{
    border-bottom:none;
    border-color:rgba(128, 128, 128, 0.51);
    border-width:2px;
    width:80%;
}

.jumbotron{    
    background-color:rgb(84, 84, 84);
    color:white;
}

.jumbotron.about-info{
    margin:15px 5% auto 5%;
}

.extra-crap{
    background:rgb(35, 35, 35);
    color:white;
    padding:15px;
}

.extra-crap:hover{
    color:rgb(118, 145, 147);
}



.jumbotron img{
    float:left;
    
}

textarea{
    width:100%;
    min-height:300px;

}

.about-info{
    margin-top:15px;
}

.container{
   /* padding-top:15px; */
   color:white;
}

.gallery{
/* overflow:hidden;   */
}


.row.galRow{
    margin-bottom:15px;
}

.gallery img{
   
   width:100%;
   /* height:100%; */
   box-shadow:0 3px 5px black;
   transition:box-shadow .5s;
   margin-bottom:15px;

   
}

.gallery img:hover{
   box-shadow:0 0px 5px goldenrod;
   cursor:pointer;
}
